Source: upstart
Section: base
Priority: optional
Maintainer: Scott James Remnant <scott@ubuntu.com>
Standards-Version: 3.7.2.1
Build-Depends: debhelper (>= 5.0)

Package: upstart
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: sysvinit
Replaces: sysvinit
Description: event-based init daemon
 upstart is a replacement for the /sbin/init daemon which handles
 starting of tasks and services during boot, stopping them during
 shutdown and supervising them while the system is running.
 .
 THIS PACKAGE IS EXPERIMENTAL, YOU INSTALL IT ON YOUR SYSTEM AT
 YOUR OWN RISK.

Package: upstart-compat-sysv
Architecture: any
Depends: ${shlibs:Depends}, upstart (>= 0.2.0), sysvutils, sysv-rc, initscripts
Description: compatibility for System-V-like init
 This package contains compatibility tasks and utilities that emulate
 the behaviour of the original sysvinit package, including runlevels.
