#!/usr/bin/make -f

DEB_BUILD_MAINT_OPTIONS  := hardening=+pie,+bindnow
DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed
DEB_CFLAGS_MAINT_APPEND  := -Wall

# Disable optimisations if noopt found in $DEB_BUILD_OPTIONS
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEB_LDFLAGS_MAINT_APPEND += -Wl,-O0
else
	DEB_CFLAGS_MAINT_APPEND += -Os
	DEB_LDFLAGS_MAINT_APPEND += -Wl,-O1
endif

export DEB_BUILD_MAINT_OPTIONS DEB_LDFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND

%:
	dh $@ --with bash-completion

override_dh_auto_configure:
	dh_auto_configure -- --exec-prefix=

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/upstart/lib/init/upstart-job
	chmod 755 debian/upstart/lib/init/apparmor-profile-load
	chmod 755 debian/upstart/usr/lib/upstart/migrate-inittab.pl
