#!/usr/bin/make -f

DEB_BUILD_MAINT_OPTIONS  := hardening=+pie,+bindnow
DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed
DEB_CFLAGS_MAINT_APPEND  := -Wall

# Disable optimisations if noopt found in $DEB_BUILD_OPTIONS
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEB_LDFLAGS_MAINT_APPEND += -Wl,-O0
else
	DEB_CFLAGS_MAINT_APPEND += -Os
	DEB_LDFLAGS_MAINT_APPEND += -Wl,-O1
endif

export DEB_BUILD_MAINT_OPTIONS DEB_LDFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND

%:
	dh $@ --with bash-completion,autoreconf,python3

override_dh_auto_configure:
	dh_auto_configure -- --exec-prefix= --disable-silent-rules --disable-abi-check

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
ifeq (0,$(shell id -u))
	# WARNING: RUNNING TESTS AS ROOT IS KNOWN TO FAIL
	# WARNING: WILL RUN TESTS, BUT WILL IGNORE FAILURE
	-dh_auto_build -- check
else
	dh_auto_build -- check
endif
endif

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/upstart/lib/init/upstart-job
	chmod 755 debian/upstart/lib/init/apparmor-profile-load
	chmod 755 debian/upstart/usr/lib/upstart/migrate-inittab.pl
	rm debian/upstart/etc/init/upstart-event-bridge.conf
	rm debian/upstart/etc/init/upstart-dbus-bridge.conf

override_dh_auto_install:
	dh_auto_install -- pkgconfigdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)/pkgconfig

# Remove the appropriate dconf files from the upstart package - they
# will be added used by the upstart-dconf-bridge.install file.
override_dh_install:
	dh_install
	for i in \
		net-device-added \
		net-device-removed \
		graphics-device-added \
		drm-device-added; do \
		rm debian/tmp/usr/share/man/man7/$$i.7; \
	done
	install -m 644 debian/upstart.apport \
		debian/upstart/usr/share/apport/package-hooks/upstart.py
	rm debian/upstart/sbin/upstart-dconf-bridge
	rm debian/upstart/usr/share/upstart/sessions/upstart-dconf-bridge.conf

# Remove the following man pages from the upstart package; they will be
# added to the upstart-monitor and upstart-dconf-bridge packages via
# their .manpages files, but removing the files here is simpler than
# specifying every other section 8 manpage in the upstart packages
# .manpages file.
override_dh_installman:
	dh_installman
	rm debian/upstart/usr/share/man/man8/upstart-monitor.8*
	rm debian/upstart/usr/share/man/man8/upstart-dconf-bridge.8*
	rm debian/upstart/usr/share/man/man7/dconf-event.7*
