#!/usr/bin/make -f

DEB_BUILD_MAINT_OPTIONS  := hardening=+pie,+bindnow
DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed
DEB_CFLAGS_MAINT_APPEND  := -Wall

# Disable optimisations if noopt found in $DEB_BUILD_OPTIONS
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEB_LDFLAGS_MAINT_APPEND += -Wl,-O0
else
	DEB_CFLAGS_MAINT_APPEND += -Os
	DEB_LDFLAGS_MAINT_APPEND += -Wl,-O1
endif

export DEB_BUILD_MAINT_OPTIONS DEB_LDFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND

%:
	dh $@ --with bash-completion,autoreconf,python3 --parallel

override_dh_auto_configure:
	dh_auto_configure -- --exec-prefix= --enable-selinux \
		--disable-silent-rules --disable-abi-check \
		--program-transform-name="s/^init$$/upstart/"

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
ifeq (0,$(shell id -u))
	# WARNING: RUNNING TESTS AS ROOT IS KNOWN TO FAIL
	# WARNING: WILL RUN TESTS, BUT WILL IGNORE FAILURE
	-dh_auto_build -- -k check || { RET=$$?; find . -name "test-suite.log" -exec cat {} + ; exit $$RET;}
else
	dh_auto_build -- -k check || { RET=$$?; find . -name "test-suite.log" -exec cat {} + ; exit $$RET;}
endif
endif

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/upstart/lib/init/upstart-job
	chmod 755 debian/upstart-bin/lib/init/apparmor-profile-load
	chmod 755 debian/upstart/usr/lib/upstart/migrate-inittab.pl

override_dh_auto_install:
	dh_auto_install -- pkgconfigdir=\$${libdir}/pkgconfig

# Remove the appropriate dconf files from the upstart package - they
# will be added used by the upstart-dconf-bridge.install file.
override_dh_install:
	dh_install --list-missing
	install -m 644 debian/upstart-bin.apport \
		debian/upstart-bin/usr/share/apport/package-hooks/source_upstart.py
	rm debian/upstart-bin/usr/share/upstart/sessions/upstart-dconf-bridge.conf
	rm debian/upstart/etc/init/upstart-dbus-bridge.conf

override_dh_installcron:
	dh_installcron -p upstart-bin --name upstart
